<h1>Editing Househunter</h1>

<%= render 'form', househunter: @househunter %>

<br>
<% if @role == "admin" %>
  <%= link_to 'Back to Dashboard', admin_path %> <br>
<% else %>
  <%= link_to 'Back to Dashboard', househunter_path(@househunter.id) %> <br>
<% end %>
